<!-- ======= Featured Services Section ======= -->
<section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bx bi-journal-richtext"></i></div>
                    <h4 class="title"><a href="">Qo'qon vagon deposida</a></h4>
                    <p class="description">Yuk vagonlarini joriy, depoli, mukammal va xizmat muddati
                        uzaytirilib mukammal ta'mirlash ishlari amalga oshiriladi</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4 class="title"><a href="">Qo'qon vagon deposida</a></h4>
                    <p class="description">Vagon yig'uv sexi, G'ildirak juftliklarini ta'mirlash sexi,
                        Telejkalarni ta'mirlash sexi, Avtobirikmalarni ta'mirlash sexi, Avtotormoz nazorat
                        bo'limi, Yordamchi tayyorlov sexlari mavjud </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4 class="title"><a href="">Qo'qon vagon deposida</a></h4>
                    <p class="description">Ta'mirdan chiqarilgan yuk vagonlariga keyingi xizmat muddati
                        tugagunga qadar ta'mir sifatiga kafolat beriladi</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4 class="title"><a href="">Qo'qon vagon deposi</a></h4>
                    <p class="description">Xususiy korxonalarga tegishli yuk vagonlarni istalgan ta'mir turida
                        ta'mirlash imkoni mavjud</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Featured Services Section -->
